body {
	background-color: #EEEEEE;
}

div {

}

td {
	font-size: 14;
}

td:hover {
	background-color: #DDDDDD;
}

nav ul ul {
	display: none;
}

nav ul li:hover > ul {
    display: block;
}

nav ul li:hover {
	background-color: #2288BB;
}

nav ul ul li {
	clear: both;
	margin: 50% 0% -10% 1%;
	padding: 1% 1% 1% 1%;

	height: 45%;
	width: 5%;
	background-color: #55BBEE;

	text-align: center;
}

nav ul li {
    float: left;
	margin: 0% 0% 0% 0.5%;
	padding: 0.3% 0% 0% 0%;

	height: 45%;
	width: 5%;

	text-align: center;
}

nav ul li a {
	text-decoration: none;
	font-family: Didot;
	color: #FFFFFF;
}

#logo {
	float: left;
	margin: 1% 0% 0% 1%;
	padding: .5% 0% 0% 0%;
	position: static;

	height: 45%;
	width: 5%;

	text-align: center;
}
#logo:hover {
	background-color: #2288BB;
}
#logo a {
	text-decoration: none;
	color: #FFFFFF;
}

#navigation_bar {
	float: top;
	position: fixed;

	background-color: #44AADD;
	height: 7%;
	width: 101%;

	margin: -1% -1% 0% -1%;
}

#google_cal {
	float: left;
	margin: 5% 0% 0% 8%;
	border: 2px solid #D3D3D3;
	box-shadow: 10px 10px 5px #888888;
}

#gear {
	margin: -0.3% -1% 0% -1%;
}

.filler {
	float: left;
	margin: 1% 1% 0% 63%;
	padding: .5% 0% 0% 0%;
	position: static;

	height: 45%;
	width: 1%;

	text-align: center;
}

.box1 {
	clear: both;
	display: inline-block;
	border-radius: 5%;

	border: 2px solid #D3D3D3;
	background-color: #FFFFFF;
	height: 590px;
	width: 375px;
	box-shadow: 10px 10px 5px #888888;

	margin: 4% 0% 3% 8%;
}

.box2 {
	clear: both;
	display: inline-block;

	border: 2px solid #D3D3D3;
	border-radius: 5%;
	background-color: #FFFFFF;
	height: 590px;
	width: 375px;
	box-shadow: 10px 10px 5px #888888;

	margin: 4% 0% 3% 4%;
}

.box_title {
	font-family: Times;
	font-size: 25;
	text-align: center;
}

.right_panel {
	float: right;
	position: fixed;

	border: 2px solid #D3D3D3;
	height: 47%;
	width: 20%;
	background-color: #FFFFFF;
}

.top {
	margin: 2.75% 0% 0% 79.5%;
}

.bot {
	margin: 28% 0% 0% 79.5%;
}

.dropdown ul li {
	display:block;
}

.dropdown ul li : hover {
	display:block;
}

.dropdown: hover > ul {
	display:block;
}


